@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #537188;
    --cor-secundaria: #EEEEEE;
    --cor-terciaria: #E1D4BB;
    --cor-hover: #CBB279;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    min-height: 100vh;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho-menu{
    display: flex;
    gap: 80px;
}

.cabecalho-menu-link{
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 400;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao-conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao-conteudo-titulo{
    font-size: 1.6rem;
    font-family: var(--fonte-primaria);
}

.apresentacao-conteudo-paragrafo{
    font-size: 1rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.apresentacao-links-subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1rem;
}

.apresentacao-links-navegacao{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    text-align: center;
    align-items: center;
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 11px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.fa-brands{
    color: var(--cor-terciaria);
}

.apresentacao-links-navegacao:hover{
    background-color: var(--cor-hover);
}

.apresentacao-imagem{
    width: 30%;
}

.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 12px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 400;
}

@media (max-width: 1200px){
    .cabecalho{
        padding: 10% 0% 5% 0%;
    }
    .cabecalho-menu{
        justify-content: center;
    }

    .cabecalho-menu-link{
        font-size: 1.5rem;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
        gap: 40px;
    }
    .apresentacao-conteudo{
        width: auto;
    }
    .apresentacao-links-navegacao{
        margin: 0% 5% 0% 0%;
    }

    .apresentacao-imagem{
        width: 50%;
    }
}